---
import { Image } from "astro:assets";
import cactus from "../assets/img/cactus_img.jpg";
---

<div
  class="flex justify-center flex-col items-center w-1/5 h-auto rounded-lg shadow-lg bg-opacity-50 font-sora"
  id="card"
>
  <div class="w-10/11 m-5">
    <Image src={cactus} alt="" class="rounded-lg" />
  </div>

  <div
    class="bg-purple bg-opacity-25 rounded-full p-1 text-xs pr-3 pl-3 text-center self-start ml-2 sm:bg-transparent"
  >
    <p class="text-[10px] font-bold text-purple">Design</p>
  </div>
  <div>
    <h3 class="font-bold text-text-black text-[18px] p-3">
      Embracing Minimalism
    </h3>
    <p class="text-text-gray text-[14px] p-3 pt-0">
      From minimalist sculptures to minimalist paintings, this blog will inspire
      you to appreciate the beauty that lies in simplicity.
    </p>
    <div class="border-t border-border-person border-opacity-30">
      <p class="text-text-gray text-[10px] p-3">Annie Spratt</p>
    </div>
  </div>
</div>

<style>
  @media screen and (max-width: 768px) {
    #card {
      width: 80%;
    }
  }
</style>
